html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}
#header {
  text-align: center;
}
.name {
  font-family: 'Lora';
  font-weight: bold;
  font-size: 45px;
}

.line {
  display: inline-block;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.footer .container p{
  margin: 20px 0;
}
.canvas {
  position: absolute;
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../font/MonoSocialIconsFont-1.10.eot');
    src: url('../font/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../font/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../font/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../font/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../font/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import 'https://fonts.googleapis.com/css?family=Lora|Montserrat:700';

a.symbol:before {
    font-family: 'Mono Social Icons Font';
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
    text-decoration: none;
    display: inline-block;
}
